<h1 fxLayoutAlign="center">{{ title }}</h1>
<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="15px" fxLayoutAlign="flex-start" class="container">
  <ng-container *ngFor="let pokemon of pokemonList">
    <app-pokemon-card
      fxFlex
      fxFlex.xs="100%"
      fxFlex.sm="0 1 calc(50% - 15px)"
      fxFlex.md="0 1 calc(25% - 15px)"
      fxFlex.lg="0 1 calc(12.5% - 15px)"
      fxFlex.xl="0 1 calc(10% - 15px)"
      [pokemonName]="pokemon.name"></app-pokemon-card>
  </ng-container>
</div>


